<div class="container mt-5">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 offset-sm-4">

        <h1 style='font-size: 30px; text-align: center'> Update Invoice </h1>
            <div data-controller="invoice">
                <%= simple_form_for([@company, @invoice]) do |f| %>
                    
                    </br>
                    <%= label :name_photo, "Nom de la Photo" %>
                    </br>
                    <input type="text" name="name_photo" class="form-control">

                    <%= f.input :photo, as: :file %>

                    <%= f.submit "Sauvegarder", class: "btn btn-primary" %>
                <% end %>

            </div>
        </div>  
    </div>
</div>


