<h1> Create a Company </h1>
     <%= simple_form_for @company do |f| %>
        <%= f.input :name,
                    required: true,
                    autofocus: true,
                    placeholder: "Freya-Tax" %>
        <%= f.input :country,
                    collection: @countries,
                    required: true,
                    autofocus: true %>
        <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>
